body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dealer-cards {
  clear: both;
  content: "";
  display: table;
  height: 200px;
}

.card {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 89px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.play {
  background: #ffdf00;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  content: "Play";
}

.space {
  opacity: 0;
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 89px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.title {
  font-family: "Times New Roman", Times, serif;
}